// Partial para los logos de las entidades

.Tomillo{
    background-image: url('../images/entidades/tomillo.png');
    background-repeat: no-repeat;
    content: "";
    
}
.Peñascal{
    background-image: url('../images/entidades/peñascal.png');
    background-repeat: no-repeat;
    content: "";
}