.banner {
    background: url('../images/foto11.jpg') center center no-repeat;
    background-size: cover;
    height: 430px;

}

.box-title {
    background: linear-gradient(to right, rgba(39, 52, 139, 1) 0%, rgba(33, 136, 202, 1) 100%);
    width: 59vw;
    max-height: 100;
    position: relative;
    float: right;
    margin-top: 220px;

    .title-1 {
        color: aliceblue;
        padding-top: 10px;
        padding-left: 30px;

    }
}

.title-2 {

    padding-left: 30px;
    padding-bottom: 30px;
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;
}

.resumen {
    height: 200px;
    border: 1px solid black;

}

.text-resumen {
    padding: 15px;
    font-size: 8px;
}

.box-tags{
    margin-left: 50px;
}

.tags {
    font-size: 12px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

ul {
    list-style-type: none;

}

.box-content{
    height: 1000px;
    overflow: scroll;
    content: "";
}