{% extends 'partials/base.html.twig' %}

{% block content %}
    <main>
		<section class="hero_single version_1">
			<div class="wrapper">
				<div class="container">
					<h3>Las buenas prácticas educativas</h3>
					<p>de las escuelas de segunda oportunidad (E2O)</p>
					<form>
						<div id="custom-search-input">
							<div class="input-group">
								<input type="text" class=" search-query" placeholder="Busca aqui las buenas prácticas de nuestra plataforma">
								<input type="submit" class="btn_search" value="Buscar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="features clearfix">
			<div class="container">
				<ul>
					<li><i class="fab fa-readme"></i>
						<h4>54</h4><span>Buenas prácticas</span>
					</li>
					<li><i class="fas fa-cloud-download-alt"></i>
						<h4>+100</h4><span>Documentos descargables</span>
					</li>
					<li><i class="fas fa-check-square"></i>
						<h4>54</h4><span>Centros acréditados</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /features -->

		<div class="container-fluid margin_30_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Prácticas recientes</h2>
				<p>Aqui puedes acceder a las buenas practicas más recientes subidas por <b>nuestra comunidad</b></p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="far fa-eye"></i> </i>  100</li>
							<li><i class="far fa-comments"></i> </i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="far fa-eye"></i> </i>  100</li>
							<li><i class="far fa-comments"></i> </i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="far fa-eye"></i> </i>  100</li>
							<li><i class="far fa-comments"></i> </i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="far fa-eye"></i> </i>  100</li>
							<li><i class="far fa-comments"></i> </i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="far fa-eye"></i> </i>  100</li>
							<li><i class="far fa-comments"></i> </i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="far fa-eye"></i> </i>  100</li>
							<li><i class="far fa-comments"></i> </i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
			</div>
			<!-- /carousel -->
			<!-- /container -->
			<hr>
		</div>


		<div class="container-fluid margin_30_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Prácticas mas vistas</h2>
				<p>Aqui puedes acceder a las buenas practicas más vistas subidas por <b>nuestra comunidad</b></p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="icon-eye"></i>100</li>
							<li><i class="icon-chat-empty"></i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="icon-eye"></i>100</li>
							<li><i class="icon-chat-empty"></i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="icon-eye"></i>100</li>
							<li><i class="icon-chat-empty"></i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="icon-eye"></i>100</li>
							<li><i class="icon-chat-empty"></i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="icon-eye"></i>100</li>
							<li><i class="icon-chat-empty"></i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#">
								<div class="preview"><span>Leer mas</span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						</figure>
						<div class="wrapper">
							<small>Publicado por: Sonny Moore</small>
							<h3>Titulo de la buena practica</h3>
							<p>Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus...</p>
						</div>
						<ul>
							<li><i class="icon-eye"></i>100</li>
							<li><i class="icon-chat-empty"></i> 5</li>
							<li><a href="#">Leer más</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

		<div class="call_section">
			<div class="container clearfix">
				<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
					<div class="block-reveal">
						<div class="block-vertical"></div>
						<div class="box_1">
							<h3>Únete a nuestra red</h3>
							<p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri. Ei mea primis ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
							<a href="#0" class="btn_1 rounded">Leer mas</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/call_section-->
	</main>
	<!-- /main -->
{% endblock %}